html {
  height: 100%;
  display: flex;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.container--mobile {
  width: auto;
  margin-left: 1em;
  margin-right: 1em;

  .primary_action  {
    margin-bottom: 1em;
  }
}

.expand {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  justify-content: space-around;
}


