javascript:
  // Basic hybrid auth example following the pattern at:
  // https://developers.google.com/api-client-library/javascript/features/authentication#Authexample
  jQuery(function() {
    return $.ajax({
      url: 'https://apis.google.com/js/client:plus.js?onload=gpAsyncInit',
      dataType: 'script',
      cache: true
    });
  });

  window.gpAsyncInit = function() {

    $('.google_login').click(function(e) {
      e.preventDefault();

      gapi.auth.authorize({
        immediate: false,
        response_type: 'code',
        cookie_policy: 'single_host_origin',
        client_id: "#{Rails.configuration.google_client_id}",
        scope: 'email profile'
      }, function(response) {
        if (response && !response.error) {
          // google authentication succeed, now post data to server.
          jQuery.ajax({
            type: 'POST', 
            url: '/users/auth/google_oauth2/callback', 
            data: response,
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            success: function(data) {
              // response from server
            }
          });
        } else {
          alert('Sign in failed');
        }
      });
    });
  };
